{% extends 'blog/base.html' %}

{% block title %}{{ tag.name }} &middot; Tags &middot; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url 'blog:post-list' %}">Blog</a></li>
  <li>Tags</li>
  <li class="active">{{ tag.name }}</li>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <div class="post">
      <h2><a href="{% url 'blog:post-detail' slug=post.slug %}">{{ post.title }}</a></h2>

      <div class="date">
        <span class="glyphicon glyphicon-time"></span>
        {{ post.published_date|date:"F j, Y" }}
      </div>

      <p>{{ post.snippet|safe }}</p>

      <a href="{% url 'blog:post-detail' slug=post.slug %}">Read more &rarr;</a>
    </div>
  {% endfor %}

  {% include 'core/includes/_pagination.html' with url_name='blog:post-list-by-tag' url_args=tag.slug %}
{% endblock content %}
